// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "~bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "./helpers/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/bootstrap";

.banner1{
    width: 100vw;
}

.banner2{
    width: 100vw;
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.btn-primary {
    background-color: #dfa9f5;
    border: solid 1px #dfa9f5;
}
.btn-primary:hover {
    background-color: #8f0bc7;
    border: solid 1px #8f0bc7;
}

.bg-light{
    background-color: #fff !important;
}

.btn-secondary{
    background-color: #e7bcde;
    border: solid 1px #e7bcde;
    margin-right: 10px;
}

.btn-secondary:hover{
    background-color: #f19adf;
    border: solid 1px #f19adf;
}

.getcoupon{
    background-color: #9adaf1;
    border: solid 1px #9adaf1;
    border-radius: 5px;
}

.getcoupon:hover {
    background-color: #4cc3ed;
    border: solid 1px #4cc3ed;
}

.cartTotal {
    border: solid 1px #e7bcde;
    border-radius: 100%;
    background-color: #e7bcde;
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    font-size: 8px;
    top: -5px;
    right: 5px;
    text-align: center;
}

.img-product{
    width: 40%;
    height: 20vw;
    object-fit: cover;
}