// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "~bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "./helpers/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/bootstrap";

.banner1{
    width: 100vw;
    height: 100vh;
}

.banner2{
    width: 100vw;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.btn-primary {
    background-color: #dfa9f5;
    border: solid 1px #dfa9f5;
}
.btn-primary:hover {
    background-color: #8f0bc7;
}

.bg-light{
    background-color: #fff !important;
}